*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

/*top header*/
.container-header{
    display:flex;
    background-color: #1f2937;
    color: white;
    padding: 20px;
    font-size: 20px;
    justify-content: center;

}

.header-top{
    display: flex;
    flex:1;
    padding: 10px;
    max-width: 1400px;
}

.top-right{
    display:flex;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 100px;
    padding-right: 30px;
    color: white;
}

.cv{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 5px;
}
/*end top header*/

/*hero*/
.hero{
    display:flex;
    background-color: #1f2937;
    color: white;
    padding: 100px;
    font-size: 20px;
    justify-content: center;
}

.hero-left{
    max-width: 850px;
    padding: 10px;
}

#brain{
    padding: 20px;
    max-width: 40vw;
    min-width: 20vw;
    max-height: 50vh;
    min-height: 20vh;
}
/* end hero */

/*content*/
h2{
    margin: 80px;
    text-align: center;
    font-size: 40px;
}
.project-item{
    display:flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto 100px auto;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}

.item-photo{
    width: 150px;
    height: 150px;
}

.description{
    display:flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    font-size: 15px;
}

strong{
    text-align: center;
}

.container-quote{
    display:flex;
    padding: 100px;
    background-color: rgb(196, 194, 194);
    font-size: 20px;
    justify-content: center;
}

#quote{
    padding: 10px;
    width: 1400px;
    font-style: italic;
    font-size: 25px;
}

#quoter{
    margin-top: 20px;
    text-align:end;
}
/*end content*/

/*call to action*/

.container-contact{
    display:flex;
    justify-content: center;
}

#contact-item{
    display:flex;
    background-color: blue;
    padding: 20px 50px;
    margin: 120px;
    width:75vw;
    border-radius: 5px;
}

#contact-me{
    display:flex;
    font-size: 20px;
    color: white;
    padding: 20px;
}

#contact{
    display:flex;
    flex-grow:1;
    background-color: blue;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
    gap: 20px;
}

.contact-button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
}

.container-footer{
    display:flex;
    justify-content: center;
    padding: 20px;
    background-color: #1f2937;
    color: white;
    font-size: 20px;
}